@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

html, body {
    min-height: 100vh;
    background-color: aliceblue;

}
header{
    background-color: black;
    color: white;
    text-align: center;
}

header h1 {
    padding-top: 50px;
    font-variant: small-caps;
}
header p{
    padding-bottom: 50px;
    
}
a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

section.normal {
    background-color: aliceblue;
    color: rgb(41, 1, 1);
}

section.imagen{
    background-color: rgb(1, 36, 36);
    color: rgb(255, 255, 255);
}

section.imagen > p {
    width: 400px;
    background-color: rgba(0, 0, 0, 0.493);
}








footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}